<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Multiple Texts Typing Animation | CodingNepal</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container-fluid">
      <div class="row">
      <div class="col-12">
       
        <div class="outer-headings col-lg-3 col-md-3">
          <h1>
            Smarter
            <div class="inner-headings">
              <span>
                Marketing. <br />
                Digital. <br />
                Web assets. <br />
                Branding. <br />
              </span>
            </div>
          </h1>
        </div>
        <div class="video col-lg-9 col-md-9">
          <video width="800" height="600" autoplay loop muted>
              <source src="assets/headerfinal.mp4" type="video/mp4" />
              
            </video>
            <p class="undervideo ">We make digital(and magical...)</p> 
            <div class="outer-headings">
              
              <h1>
                <div class="inner-heading ">
                  <span>
                    branding <br />
                    experiences <br />
                    products <br />
                    services <br />
                  </span>
                </div>
              </h1>
            </div>
          </div>
      </div></div></div>
</body>
</html>